<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body class="container">

	<header>
		<%- include('../partials/header'); %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>top movies</h1>
			<div class="row">
				<% movies.forEach(function(movie) { %>
					<div class="card col-sm-4 m-t-10">
						<img class="card-img-top" src="https://dummyimage.com/640x360/fff/aaa" alt="Card image cap">
						<div class="">title: <strong><%= movie.title %></strong></div>
						<div class="">year: <strong><%= movie.year %></strong></div>
						<div class="">actors: <strong><%= movie.info.actors %></strong></div>
					</div>
					<% }); 
				%>
			</div>
		</div>
	</main>

	<footer>
		<%- include('../partials/footer'); %>
	</footer>

</body>

</html>